@font-face {
    font-family: "ArcadeClassic";
    src: url("fonts/ARCADECLASSIC.TTF");
}

@font-face {
    font-family: "Pixeloid Sans";
    src: url("fonts/PixeloidSans-JR6qo.ttf");
}  

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-family: ArcadeClassic;
}

nav a {
    color: #ffffff;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.duck {
    position: relative;
    width: 50px;
    height: 50px;
}

.duck img {
    width: 50px;
    height: 50px;
    right: 0;
}

.message {
    display: none;
    position: relative;
	margin: 20px;
    right: 40px;
    width: 80px;
	text-align: center;
	font-size: 24px;
	line-height: 1.3em;
	background-color: #ffffff;
    border: 2px solid black;
    outline: 2px solid #ffffff;
    border-radius: 10px;
	color: black;
	padding: 12px;
}

.duck:hover .message {
    display: block;
    position: absolute;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 100px;
}

header h1 {
    font-size: 50px;
    font-family: ArcadeClassic;
}

header p {
    padding-left: 20px;
    padding-right: 40px;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.portfolio-container {
    margin-top: -50px;
}

.portfolio-container h3 {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 50px;
    font-family: ArcadeClassic;
}

.container-links {
    background-color: #48DC6B;
    margin: 60px;
    border-radius: 10px;
}

.container-links h3 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 50px;
    -webkit-text-stroke: .5px #ffffff;
    text-stroke: .5px #ffffff;
    font-family: ArcadeClassic;
}

.container-about {
    background-color: #48DC6B;
    margin: 60px;
    border-radius: 10px;
    padding: 20px;
}

.container-about h3 {
    font-size: 50px;
    -webkit-text-stroke: .5px #ffffff;
    text-stroke: .5px #ffffff;
    font-family: ArcadeClassic;
}

.container-social {
    background-color: #48DC6B;
    margin: 60px;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-social h3 {
    font-size: 50px;
    margin-bottom: 15px;
    -webkit-text-stroke: .5px #ffffff;
    text-stroke: .5px #ffffff;
    font-family: ArcadeClassic;
}

.socials {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    transition: all .3s ease;
}

.icon:hover {
    transform: scale(1.1);
    z-index: 1;
}

.icon img {
    max-width: 30px;
    max-height: 30px;
}

.projects {
    padding: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.projects h4 {
    padding-top: 15px;
}

.projects img {
    width: 296px;
    height: 200px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #5f9bcd;
}

.p1 {
    background-color: #ffffff;
    border-radius: 10px;
    width: 300px;
    border: 2px solid black;
    transition: all .3s ease;
}

.p1 p {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.p1:hover {
    transform: scale(1.025);
    z-index: 1;   
}

.p2:hover {
    transform: scale(1.025);
    z-index: 1;   
}

.p3:hover {
    transform: scale(1.025);
    z-index: 1;   
}

.p2 {
    background-color: #ffffff;
    border-radius: 10px;
    width: 300px;
    border: 2px solid black;
    transition: all .3s ease;
}

.p2 p {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.p3 {
    background-color: #ffffff;
    border-radius: 10px;
    width: 300px;
    border: 2px solid black;
    transition: all .3s ease;
}

.p3 p {
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.p1 a {
    text-decoration: none;
    color: black;
}

.p2 a {
    text-decoration: none;
    color: black;
}

.p3 a {
    text-decoration: none;
    color: black;
}

h4 {
    padding-left: 10px;
    color: black;
    font-family: ArcadeClassic;
}

p {
    font-family: Pixeloid Sans;
}

.btn a {
    text-decoration: none;
    color: #ffffff;
    font-family: ArcadeClassic;
}

.accordion-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-body p {
    width: 600px;
}

.accordion-button {
    font-family: ArcadeClassic;
}

.btn {
    color: #ffffff;
}

.link-intro {
    padding-left: 20px;
}

.links {
    padding: 20px;
}

.skills {
    position: relative;
    /* width: 50%; */
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
}

.desc {
    position: relative;
    width: 50%;
}

.langs {
    width: 20%;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.langs .btn {
    border-radius: 0;
    width: 100%;
    font-family: ArcadeClassic;
}

.fwlib {
    width: 20%;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fwlib .btn {
    border-radius: 0;
    width: 100%;
    font-family: ArcadeClassic;
}